<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Gym Manager" content="Gym managment application">
    <title>Gym Manager</title>
    {% block head %}  {% endblock head %}
</head>
<body>
    <header>
        <div class="links">
            <a href="/" class="active">Instrutores</a>
            <a href="/members">Membros</a>
        </div>
    </header>

    {% block content %}
    {% endblock content %}
</body>
</html>